[submodule "conditional_layers"]
	path = conditional_layers
	url = git@github.com:hbmorrison/qmk_conditional_layers.git
	branch = develop
[submodule "dynamic_mods"]
	path = dynamic_mods
	url = git@github.com:hbmorrison/qmk_dynamic_mods.git
	branch = develop
