[submodule "conditional_layers"]
	path = conditional_layers
	url = git@github.com:hbmorrison/qmk_conditional_layers.git
	branch = develop
[submodule "custom_keys"]
	path = custom_keys
	url = git@github.com:hbmorrison/qmk_custom_keys.git
	branch = develop
[submodule "handed_mods"]
	path = handed_mods
	url = git@github.com:hbmorrison/qmk_handed_mods.git
	branch = develop
[submodule "windows_shortcuts"]
	path = windows_shortcuts
	url = git@github.com:hbmorrison/qmk_windows_shortcuts.git
	branch = develop
[submodule "core_keymap"]
	path = core_keymap
	url = git@github.com:hbmorrison/qmk_core_keymap.git
	branch = develop
