[submodule "conditional_layers"]
	path = conditional_layers
	url = git@github.com:hbmorrison/qmk_conditional_layers.git
	branch = develop
[submodule "dynamic_mods"]
	path = dynamic_mods
	url = git@github.com:hbmorrison/qmk_dynamic_mods.git
	branch = develop
[submodule "alt_tab"]
	path = alt_tab
	url = git@github.com:hbmorrison/qmk_alt_tab.git
	branch = develop
[submodule "custom_keys"]
	path = custom_keys
	url = git@github.com:hbmorrison/qmk_custom_keys.git
	branch = develop
[submodule "handed_mods"]
	path = handed_mods
	url = git@github.com:hbmorrison/qmk_handed_mods.git
	branch = develop
